[submodule "assets/jspsych-psychophysics"]
	path = assets/jspsych-psychophysics
	url = https://github.com/kurokida/jspsych-psychophysics.git
[submodule "assets/jspsych"]
	path = assets/jspsych
	url = https://github.com/jspsych/jsPsych.git
